*{
    background-color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#fff;
    box-sizing: border-box;
    margin:0%;
}
header{
    background-color:  #9b51e0 ;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
    height: 50px;
    
    width: auto;
}

.header{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #9b51e0 ;
}

.Aboutme{
    height: 400px;
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones{
    display:flex;
    justify-content: center;
    align-items: center;
}
span{
    width: 10px;
}

input{
    height: 50px;
    width: 150px;
    border-radius: 20px;
    background-color: #9b51e0;
    border-color: #9b51e0;
}



.exp{
    height: 400px;
    width: 90%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 33% 33% 33%;
}


.laboral{
    display: flex;
    justify-content: center;
    align-items:center;

}
.skills{
    height: 400px;
    width: 90%;
    display: grid;
    grid-template-rows: 100% ;
    grid-template-columns:33% 57% ;
}
.soft{
    display:flex;
    justify-content: center;
    align-items: center;
}

hr{
    width: auto;
}



footer{
    height: 250px;
    background-color: #9b51e0 ;
}





